*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.web-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;

    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.nav-banner-container{
    width: 100%;
    height: 100vh;
    background-color:white;
    background-size: 100vw 100vh;
    animation: bganimation 30s linear infinite;
}
@keyframes bganimation {
    0%{
      background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(Access-images/banner\ bg_11zon.jpg);
    }
   30%{
     background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(Access-images/AFT-TECH\ FS1000[1].jpg);
   }
   60%{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(Access-images/gallery-7.jpeg);

   }
   100%{
    background-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url(Access-images/banner\ bg_11zon.jpg);
   }
}


/* ..............navbar.................. */

.navbar-container{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    /* background-color: blue; */
}
.navlogo-section{
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
}
.navlogo-section img{
    width: 70%;
}
.navbar-container label {
    display: none;

}
#checking{
    display: none;
}
.navbar-container label {
    display: none;
}

.nav-items {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-items a{
    font-size: 18px;
    font-family: "Poppins", serif;
    color: whitesmoke;
    text-decoration: none;
}


/* .................banner............... */

.banner-container{
    width: 100%; 
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    /* justify-content: center; */
    /* background-color: blueviolet; */
}

.banner-container h1{
    font-size: 85px;
    font-family: "Lora", serif;
    position: relative;
    color: transparent;
    -webkit-text-stroke: 0.1rem white;
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -89rem 0;
    padding: 0 1rem;
    /* set the minimum position value so that the color did not show up. if you add padding then add extra padding value also for example here at first it was -64rem later I add 1rem padding both left and right side of the text. then we have to change the -66rem position */
    animation: animate 6s linear infinite;
}


.banner-container h1::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-right: 4px solid white;
    animation: lineAnimate 6s linear infinite;
}

@keyframes animate {
    0%, 10%, 100%{
        background-position: -89rem 0;
    }
    80%,90%{
        background-position: 0 0;
    }
}

@keyframes lineAnimate {
    0%, 10%, 100%{
        width: 0%;
    }
    80%,90%{
        width: 60%;
    }
}
.banner-icons{
    width: 60px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color:rgb(45,42,99);
    border-radius: 35px;
    position: fixed;
    top: 45%;
    right: 1%;
    z-index: 1;
}

/* ...........about.................... */
.about-container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: black;
}
.about-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-size: cover;
    padding-top: 5%;
    background-position: center;
}
.about-img img{
    width: 70%;
    height: 70%;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 5%;
}
.about-cont{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 8%;
    padding-top: 12%;
    gap: 2%;
    /* background-color: blueviolet; */
}
.about-cont  h2{
    font-family: "Lora", serif;
    font-size: 36px;
    color:white;
}
.about-cont p{
    font-family: "Poppins", serif;
    font-size: 1.2rem;
    color: grey;
}
.about-cont button{
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 5px ;
    color: white;
    font-family: "Poppins", serif;
    font-size: 16px;
    margin-top: 1%;
    background-color:rgb(45,42,99);
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 3%;
}

/* .........product........... */
.product-page-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.product-title{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    font-size: 26px;
    color: white;
    /* background-color: aqua; */
}
/* Slider Container */
.slider-container {
  position: relative;
  width: 90%;
  height: 70vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* background-color: cadetblue; */
}

/* Slider Wrapper */
.slider-wrapper {
  overflow: hidden;
  width: 100%;
}

/* Slider */
.slider {
  display: flex;
  gap: 18px; /* Add consistent spacing between cards */
  transition: transform 0.3s ease-in-out;
}

/* Card */
.card {
  flex: 0 0 calc(33.33% - 16px); 
  background-color: #007bff;
  color: #fff;
  text-align: center;
  width: 300px;
  height: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-image{
    width: 100%;
    height: 70%;
    background-color: rgb(198, 54, 54);
}
.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-cont{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgb(45,42,99);
}
.product-cont h3{
    font-family: "Poppins", serif;
    font-size: 20px;
    font-weight: 600;
}
.product-cont span{
    font-size: 18px;
    font-weight: 400;
}
/* Buttons */
.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 20px 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.left-btn {
  left: 10px;
}

.right-btn {
  right: 10px;
}

.slider-btn:disabled {
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}
/* ................why.......................... */
.whypage-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: white;
    background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url(Access-images/product\ bg.jpg) ;
}
.why-title{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-family: "Lora", serif;
    color: white;
}
.whycard-container{
    width: 90%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* background-color: bisque; */
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.whycard{
    width: 300px;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    border: 2px solid rgb(45,42,99);
    background-color: whitesmoke;
    border-radius: 5px;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 5%;
}
.whycard img{
    width: 60%;

}
.whycard h3{
    font-size:22px;
    font-family: "Poppins", serif;
    font-weight: 500;
    color: rgb(45,42,99);
}

/* .........project........... */

.projectpage-container{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:black;
}
.projectpage-container .title{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lora", serif;
    font-size: 28px;
    color: white;
    /* background: rgb(45,42,99); */
}


.Projectbox-container{
    width: 90%;
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project-box {
    width:100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(40, 21, 207); */
    background-size:cover;
    background-repeat: no-repeat;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}
.project-box.visible {
    opacity: 1;
    transform: translateY(0);
  }

.projectbox-info{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    color: white;
    gap: 2%;
    border: 2px solid white;
    justify-content: center;
    /* background-color: burlywood; */
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 5%;
}
.projectbox-info h3{
    font-size: 22px;
    font-family: "Lora", serif;
    color: white;
}
.projectbox-info p{
    font-size: 18px;
    font-family: "Poppins", serif;
    color: whitesmoke;
}
/* ................supliers................ */

.suppliers-container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 10%;
    padding-top: 3%;
    background-color:whitesmoke; 
}
.suppliers-container h2{
    font-family: "Lora", serif;
    font-size: 52px;
    font-weight: bolder;
    color: rgb(45,42,99);
    /* text-decoration: underline; */
}
.suppliers-combany{
    width: 70%;
    height: 50%;
    display: flex;
    gap: 5%;
    align-items: center;
    justify-content: space-between;
    animation: appear  linear;
    animation-timeline: view();
    animation-range: entry 3%;
}


/* .................footer........................... */

.footer {
    width: 100%;
    height: 60vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:black;
 }
 
 .footer-content {
     width: 90%;
     height: 80%;
     display: flex;
     align-items: center;
     justify-content: space-around;
     font-family: "Poppins", serif;
     /* background-color:black; */
 }
 .footer-content img{
     width: 25%;
 }
 .footer-section h3 {
     font-size: 1.2em;
     margin-bottom: 4%;
     margin-top: 3%;
     font-weight: bold;
     color: whitesmoke;
 }
 
 .footer-section ul {
     list-style: none;
    
 }
 
 
 .footer-section ul li a {
     color:grey;
     text-decoration: none;
     transition: color 0.3s;
     font-size: 1rem;
     font-weight: bold;
 }
 .footer-section ul li {
     margin-top: 5%;
 }
 
 .contact-info {
     display: flex;
     flex-direction: column;
 }
 
 .contact-info p {
     margin-bottom: 10%;
     font-size: 1rem;
     font-weight: bold;
     color: white;
 }
 .contact-info h3{
     margin-top: 2%;
     margin-bottom: 15%;
 }
 
 .contact-info a {
     color: white;
     text-decoration: none;
 }
 
 .footer-bottom {
     width: 90%;
     height: 20%;
     display: flex;
     align-items: center;
     justify-content: center;
     border-top: 2px solid #444;
     /* background-color: black; */
     color: whitesmoke;
     font-weight: bold;
     font-family: sans-serif;
     font-size: 1rem;
 }
 